<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
<ion-searchbar placeholder="Buscar"></ion-searchbar>

<ion-list>
  <ion-item lines="full">
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/77zENVKgbc4bhmlLfHRUbVZ99N5.jpg" />
    </ion-thumbnail>

    <ion-label class="ion-text-wrap">
      <div>
        <h1>Trem-Bala (2022)</h1>
        <p>04/08/2022 (BR) - 2h 6m </p>
        <p>Ação, Comédia, Thriller</p>
      </div>
    </ion-label>

    <ion-chip color="success" outline>75%</ion-chip>
  </ion-item>
</ion-list>

