<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/77zENVKgbc4bhmlLfHRUbVZ99N5.jpg" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Trem-Bala (2022)</h1>
            <p>04/08/2022 (BR) - 2h 6m </p>
            <p>Ação, Comédia, Thriller</p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>75%</ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning"(click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img alt="Silhouette of mountains" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/9z256FFPDsL7kSVJ9oyLELaN1ph.jpg" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <div>
            <h1>Adão Negro (2022)</h1>
            <p>20/10/2022 (BR) - 2h 5m </p>
            <p>Ação, Fantasia, Ficção científica
            </p>
          </div>
        </ion-label>

        <ion-chip color="success" outline>70%</ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="warning" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-content>

